@use "variables" as var;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(var(--blackRGB), 0.87);
    background-color: var(--white);
    // color: rgba(255, 255, 255, 0.87);
    // background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 1.0;
    text-decoration: none;
    //   font-family: inherit;
    list-style: none;
    resize: none;
    box-sizing: border-box;

    //   user-select: none;
    //   -webkit-tab-highlight-color: rgba(0,0,0,0);
    //   -webkit-tab-highlight-color: transparent;

    //   -webkit-user-select: none;
    //   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    //   -webkit-font-smoothing: antialiased;
}
*:focus{ outline: none; }

html{
    scroll-behavior: smooth;
    font-size: 62.5%;  /* --> as 10px line base */
}

body {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh; 
}

button {
    display: flex;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: inherit;

    & label{
        cursor: pointer;
    }
}

.container{
    width: min(100%, var.$max-width);
    margin-inline: auto;
    padding-inline: 3.0rem;
  
    &-fluid{ 
      max-width: 1940px;
      margin-inline: auto;
      // padding-inline: 3.0rem;
    }
}

.row{
    width: 100%;
}
.text {
    @media (min-width: var.$xsm) { &-start { text-align: left; } &-center { text-align: center; } &-end { text-align: right; } }
    @media (min-width: var.$sm) { &-sm{ &-start { text-align: left; } &-center { text-align: center; } &-end { text-align: right; } } }
    @media (min-width: var.$md) { &-md{ &-start { text-align: left; } &-center { text-align: center; } &-end { text-align: right; } } }
    @media (min-width: var.$lg) { &-lg{ &-start { text-align: left; } &-center { text-align: center; } &-end { text-align: right; } } }
    @media (min-width: var.$xl) { &-xl{ &-start { text-align: left; } &-center { text-align: center; } &-end { text-align: right; } } }
}

.d{
    @media (min-width: var.$xsm) { &-grid{ display: grid; } &-flex{ display: flex; } &-block{ display: block; } &-none{ display: none; } }
    @media (min-width: var.$sm) { &-sm { &-grid{ display: grid; } &-flex{ display: flex; } &-block{ display: block; } &-none{ display: none; } }}
    @media (min-width: var.$md) { &-md { &-grid{ display: grid; } &-flex{ display: flex; } &-block{ display: block; } &-none{ display: none; } }}
    @media (min-width: var.$lg) { &-lg { &-grid{ display: grid; } &-flex{ display: flex; } &-block{ display: block; } &-none{ display: none; } }}
    @media (min-width: var.$xl) { &-xl { &-grid{ display: grid; } &-flex{ display: flex; } &-block{ display: block; } &-none{ display: none; } }}
}

.col{
    @media (min-width: var.$xsm) { &-auto{ flex: 0 0 auto; width: auto;  } &-1{ flex: 0 0 auto; width: 10%;  } &-2{ flex: 0 0 auto; width: 20%;  } &-3{ flex: 0 0 auto; width: 25%;  } &-4{ flex: 0 0 auto; width: 33%;  } &-5{ flex: 0 0 auto; width: 40%;  } &-6{ flex: 0 0 auto; width: 50%;  } &-7{ flex: 0 0 auto; width: 60%;  } &-8{ flex: 0 0 auto; width: 66%;  } &-9{ flex: 0 0 auto; width: 75%;  } &-10{ flex: 0 0 auto; width: 80%;  } &-11{ flex: 0 0 auto; width: 90%;  } &-12{ flex: 0 0 auto; width: 100%;  } }
    @media (min-width: var.$sm) { &-sm{ &-auto{ flex: 0 0 auto; width: auto;  } &-1{ flex: 0 0 auto; width: 10%;  } &-2{ flex: 0 0 auto; width: 20%;  } &-3{ flex: 0 0 auto; width: 25%;  } &-4{ flex: 0 0 auto; width: 33%;  } &-5{ flex: 0 0 auto; width: 40%;  } &-6{ flex: 0 0 auto; width: 50%;  } &-7{ flex: 0 0 auto; width: 60%;  } &-8{ flex: 0 0 auto; width: 66%;  } &-9{ flex: 0 0 auto; width: 75%;  } &-10{ flex: 0 0 auto; width: 80%;  } &-11{ flex: 0 0 auto; width: 90%;  } &-12{ flex: 0 0 auto; width: 100%;  } } }
    @media (min-width: var.$md) { &-md{ &-auto{ flex: 0 0 auto; width: auto;  } &-1{ flex: 0 0 auto; width: 10%;  } &-2{ flex: 0 0 auto; width: 20%;  } &-3{ flex: 0 0 auto; width: 25%;  } &-4{ flex: 0 0 auto; width: 33%;  } &-5{ flex: 0 0 auto; width: 40%;  } &-6{ flex: 0 0 auto; width: 50%;  } &-7{ flex: 0 0 auto; width: 60%;  } &-8{ flex: 0 0 auto; width: 66%;  } &-9{ flex: 0 0 auto; width: 75%;  } &-10{ flex: 0 0 auto; width: 80%;  } &-11{ flex: 0 0 auto; width: 90%;  } &-12{ flex: 0 0 auto; width: 100%;  } } }
    @media (min-width: var.$lg) { &-lg{ &-auto{ flex: 0 0 auto; width: auto;  } &-1{ flex: 0 0 auto; width: 10%;  } &-2{ flex: 0 0 auto; width: 20%;  } &-3{ flex: 0 0 auto; width: 25%;  } &-4{ flex: 0 0 auto; width: 33%;  } &-5{ flex: 0 0 auto; width: 40%;  } &-6{ flex: 0 0 auto; width: 50%;  } &-7{ flex: 0 0 auto; width: 60%;  } &-8{ flex: 0 0 auto; width: 66%;  } &-9{ flex: 0 0 auto; width: 75%;  } &-10{ flex: 0 0 auto; width: 80%;  } &-11{ flex: 0 0 auto; width: 90%;  } &-12{ flex: 0 0 auto; width: 100%;  } } }
    @media (min-width: var.$xl) { &-xl{ &-auto{ flex: 0 0 auto; width: auto;  } &-1{ flex: 0 0 auto; width: 10%;  } &-2{ flex: 0 0 auto; width: 20%;  } &-3{ flex: 0 0 auto; width: 25%;  } &-4{ flex: 0 0 auto; width: 33%;  } &-5{ flex: 0 0 auto; width: 40%;  } &-6{ flex: 0 0 auto; width: 50%;  } &-7{ flex: 0 0 auto; width: 60%;  } &-8{ flex: 0 0 auto; width: 66%;  } &-9{ flex: 0 0 auto; width: 75%;  } &-10{ flex: 0 0 auto; width: 80%;  } &-11{ flex: 0 0 auto; width: 90%;  } &-12{ flex: 0 0 auto; width: 100%;  } } }
}

.grid{
    @media (min-width: var.$xsm) { 
      &-1 { grid-template-columns: repeat(1, 1fr); } &-2 { grid-template-columns: repeat(2, 1fr); } &-3 { grid-template-columns: repeat(3, 1fr); } &-4 { grid-template-columns: repeat(4, 1fr); } &-5 { grid-template-columns: repeat(5, 1fr); } &-6 { grid-template-columns: repeat(6, 1fr); } &-7 { grid-template-columns: repeat(7, 1fr); &-5 { grid-template-columns: 7fr 5fr;} } &-8 { grid-template-columns: repeat(8, 1fr); &-4 { grid-template-columns: 8fr 4fr; } } &-9 { grid-template-columns: repeat(9, 1fr); } &-10 { grid-template-columns: repeat(10, 1fr); } &-11 { grid-template-columns: repeat(11, 1fr); } &-12 { grid-template-columns: repeat(12, 1fr); }
    }
    @media (min-width: var.$sm) { &-sm { 
      &-1 { grid-template-columns: repeat(1, 1fr); } &-2 { grid-template-columns: repeat(2, 1fr); } &-3 { grid-template-columns: repeat(3, 1fr); } &-4 { grid-template-columns: repeat(4, 1fr); } &-5 { grid-template-columns: repeat(5, 1fr); } &-6 { grid-template-columns: repeat(6, 1fr); } &-7 { grid-template-columns: repeat(7, 1fr); } &-8 { grid-template-columns: repeat(8, 1fr); } &-9 { grid-template-columns: repeat(9, 1fr); } &-10 { grid-template-columns: repeat(10, 1fr); } &-11 { grid-template-columns: repeat(11, 1fr); } &-12 { grid-template-columns: repeat(12, 1fr); } 
    }}
    @media (min-width: var.$md) { &-md { 
      &-1 { grid-template-columns: repeat(1, 1fr); } &-2 { grid-template-columns: repeat(2, 1fr); } &-3 { grid-template-columns: repeat(3, 1fr); } &-4 { grid-template-columns: repeat(4, 1fr); } &-5 { grid-template-columns: repeat(5, 1fr); } &-6 { grid-template-columns: repeat(6, 1fr); } &-7 { grid-template-columns: repeat(7, 1fr); &-5 { grid-template-columns: 7fr 5fr;} } &-8 { grid-template-columns: repeat(8, 1fr); &-4 { grid-template-columns: 8fr 4fr; } } &-9 { grid-template-columns: repeat(9, 1fr); } &-10 { grid-template-columns: repeat(10, 1fr); } &-11 { grid-template-columns: repeat(11, 1fr); } &-12 { grid-template-columns: repeat(12, 1fr); } 
    }}
    @media (min-width: var.$lg) { &-lg { 
      &-1 { grid-template-columns: repeat(1, 1fr); } &-2 { grid-template-columns: repeat(2, 1fr); } &-3 { grid-template-columns: repeat(3, 1fr); } &-4 { grid-template-columns: repeat(4, 1fr); } &-5 { grid-template-columns: repeat(5, 1fr); } &-6 { grid-template-columns: repeat(6, 1fr); } &-7 { grid-template-columns: repeat(7, 1fr); } &-8 { grid-template-columns: repeat(8, 1fr); &-4 { grid-template-columns: 8fr 4fr; } &-400 { grid-template-columns: 8fr 400px; }} &-9 { grid-template-columns: repeat(9, 1fr); } &-10 { grid-template-columns: repeat(10, 1fr); } &-11 { grid-template-columns: repeat(11, 1fr); } &-12 { grid-template-columns: repeat(12, 1fr); } 
    }}
    @media (min-width: var.$xl) { &-xl { 
      &-1 { grid-template-columns: repeat(1, 1fr); } &-2 { grid-template-columns: repeat(2, 1fr); } &-3 { grid-template-columns: repeat(3, 1fr); } &-4 { grid-template-columns: repeat(4, 1fr); } &-5 { grid-template-columns: repeat(5, 1fr); } &-6 { grid-template-columns: repeat(6, 1fr); } &-7 { grid-template-columns: repeat(7, 1fr); } &-8 { grid-template-columns: repeat(8, 1fr); &-4 { grid-template-columns: 8fr 4fr; } } &-9 { grid-template-columns: repeat(9, 1fr); } &-10 { grid-template-columns: repeat(10, 1fr); } &-11 { grid-template-columns: repeat(11, 1fr); } &-12 { grid-template-columns: repeat(12, 1fr); } 
    }}
}

.justify-content{
    @media (min-width: var.$xsm) { &-start{ justify-content: flex-start; } &-end{ justify-content: flex-end; } &-center{ justify-content: center; } &-between{ justify-content: space-between; } &-evenly{ justify-content: space-evenly; } &-around{ justify-content: space-around; } }
    @media (min-width: var.$sm) { &-sm{ &-start{ justify-content: flex-start; } &-end{ justify-content: flex-end; } &-center{ justify-content: center; } &-between{ justify-content: space-between; } &-evenly{ justify-content: space-evenly; } &-around{ justify-content: space-around; } } }
    @media (min-width: var.$sm) { &-sm{ &-start{ justify-content: flex-start; } &-end{ justify-content: flex-end; } &-center{ justify-content: center; } &-between{ justify-content: space-between; } &-evenly{ justify-content:md space-evenly; } &-around{ justify-content: space-around; } } }
    @media (min-width: var.$lg) { &-lg{ &-start{ justify-content: flex-start; } &-end{ justify-content: flex-end; } &-center{ justify-content: center; } &-between{ justify-content: space-between; } &-evenly{ justify-content: space-evenly; } &-around{ justify-content: space-around; } } }
    @media (min-width: var.$xl) { &-xl{ &-start{ justify-content: flex-start; } &-end{ justify-content: flex-end; } &-center{ justify-content: center; } &-between{ justify-content: space-between; } &-evenly{ justify-content: space-evenly; } &-around{ justify-content: space-around; } } }
}
  
.align-items{
    @media (min-width: var.$xsm) { &-start{ align-items: flex-start;} &-center{ align-items: center;} &-end{ align-items: flex-end;} &-between{ align-items: space-between; } &-evenly{ align-items: space-evenly; } }
    @media (min-width: var.$sm) { &-sm{ &-start{ align-items: flex-start;} &-center{ align-items: center;} &-end{ align-items: flex-end;} &-between{ align-items: space-between; } &-evenly{ align-items: space-evenly; } } }
    @media (min-width: var.$md) { &-md{ &-start{ align-items: flex-start;} &-center{ align-items: center;} &-end{ align-items: flex-end;} &-between{ align-items: space-between; } &-evenly{ align-items: space-evenly; } } }
    @media (min-width: var.$lg) { &-lg{ &-start{ align-items: flex-start;} &-center{ align-items: center;} &-end{ align-items: flex-end;} &-between{ align-items: space-between; } &-evenly{ align-items: space-evenly; } } }
    @media (min-width: var.$xl) { &-xl{ &-start{ align-items: flex-start;} &-center{ align-items: center;} &-end{ align-items: flex-end;} &-between{ align-items: space-between; } &-evenly{ align-items: space-evenly; } } }
}

.gap{
    @media (min-width: var.$xsm) { &-1{ gap: 1.0rem; } &-2{ gap: 2.0rem; } &-3{ gap: 3.0rem; } &-4{ gap: 4.0rem; } &-5{ gap: 5.0rem; } &-6{ gap: 6.0rem; } }
    @media (min-width: var.$sm) { &-sm { &-1{ gap: 1.0rem; } &-2{ gap: 2.0rem; } &-3{ gap: 3.0rem; } &-4{ gap: 4.0rem; } &-5{ gap: 5.0rem; } &-6{ gap: 6.0rem; } } }
    @media (min-width: var.$md) { &-md { &-1{ gap: 1.0rem; } &-2{ gap: 2.0rem; } &-3{ gap: 3.0rem; } &-4{ gap: 4.0rem; } &-5{ gap: 5.0rem; } &-6{ gap: 6.0rem; } } }
    @media (min-width: var.$lg) { &-lg { &-1{ gap: 1.0rem; } &-2{ gap: 2.0rem; } &-3{ gap: 3.0rem; } &-4{ gap: 4.0rem; } &-5{ gap: 5.0rem; } &-6{ gap: 6.0rem; } } }
    @media (min-width: var.$xl) { &-xl { &-1{ gap: 1.0rem; } &-2{ gap: 2.0rem; } &-3{ gap: 3.0rem; } &-4{ gap: 4.0rem; } &-5{ gap: 5.0rem; } &-6{ gap: 6.0rem; } } }
}
  
.order{
    @media (min-width: var.$xsm) { &-1{ order: 1; } &-2{ order: 2; } &-3{ order: 3; } }
    @media (min-width: var.$sm) { &-sm { &-1{ order: 1; } &-2{ order: 2; } &-3{ order: 3; } } }
    @media (min-width: var.$md) { &-md { &-1{ order: 1; } &-2{ order: 2; } &-3{ order: 3; } } }
    @media (min-width: var.$lg) { &-lg { &-1{ order: 1; } &-2{ order: 2; } &-3{ order: 3; } } }
    @media (min-width: var.$xl) { &-xl { &-1{ order: 1; } &-2{ order: 2; } &-3{ order: 3; } } }
    
}

.mx{ 
    @media (min-width: var.$xsm) { &-auto{ margin-inline: auto; } &-1{ margin-inline: 1.0rem; } &-2{ margin-inline: 2.0rem; } &-3{ margin-inline: 3.0rem; } &-4{ margin-inline: 4.0rem; } &-5{ margin-inline: 5.0rem; } &-6{ margin-inline: 6.0rem; } } 
    @media (min-width: var.$sm) { &-sm { &-auto{ margin-inline: auto; } &-1{ margin-inline: 1.0rem; } &-2{ margin-inline: 2.0rem; } &-3{ margin-inline: 3.0rem; } &-4{ margin-inline: 4.0rem; } &-5{ margin-inline: 5.0rem; } &-6{ margin-inline: 6.0rem; }  } }
    @media (min-width: var.$md) { &-md { &-auto{ margin-inline: auto; } &-1{ margin-inline: 1.0rem; } &-2{ margin-inline: 2.0rem; } &-3{ margin-inline: 3.0rem; } &-4{ margin-inline: 4.0rem; } &-5{ margin-inline: 5.0rem; } &-6{ margin-inline: 6.0rem; }  } }
    @media (min-width: var.$lg) { &-lg { &-auto{ margin-inline: auto; } &-1{ margin-inline: 1.0rem; } &-2{ margin-inline: 2.0rem; } &-3{ margin-inline: 3.0rem; } &-4{ margin-inline: 4.0rem; } &-5{ margin-inline: 5.0rem; } &-6{ margin-inline: 6.0rem; }  } }
    @media (min-width: var.$xl) { &-xl { &-auto{ margin-inline: auto; } &-1{ margin-inline: 1.0rem; } &-2{ margin-inline: 2.0rem; } &-3{ margin-inline: 3.0rem; } &-4{ margin-inline: 4.0rem; } &-5{ margin-inline: 5.0rem; } &-6{ margin-inline: 6.0rem; }  } }
}

.mt{
    @media (min-width: var.$xsm) { &-0{ margin-top: 0px; } &-1{ margin-top: 1.0rem; } &-2{ margin-top: 2.0rem; } &-3{ margin-top: 3.0rem; } &-4{ margin-top: 4.0rem; } &-5{ margin-top: 5.0rem; } &-6{ margin-top: 6.0rem; } }
    @media (min-width: var.$sm) { &-sm { &-0{ margin-top: 0px; } &-1{ margin-top: 1.0rem; } &-2{ margin-top: 2.0rem; } &-3{ margin-top: 3.0rem; } &-4{ margin-top: 4.0rem; } &-5{ margin-top: 5.0rem; } &-6{ margin-top: 6.0rem; } } }
    @media (min-width: var.$md) { &-md { &-0{ margin-top: 0px; } &-1{ margin-top: 1.0rem; } &-2{ margin-top: 2.0rem; } &-3{ margin-top: 3.0rem; } &-4{ margin-top: 4.0rem; } &-5{ margin-top: 5.0rem; } &-6{ margin-top: 6.0rem; } } }
    @media (min-width: var.$lg) { &-lg { &-0{ margin-top: 0px; } &-1{ margin-top: 1.0rem; } &-2{ margin-top: 2.0rem; } &-3{ margin-top: 3.0rem; } &-4{ margin-top: 4.0rem; } &-5{ margin-top: 5.0rem; } &-6{ margin-top: 6.0rem; } } }
    @media (min-width: var.$xl) { &-xl { &-0{ margin-top: 0px; } &-1{ margin-top: 1.0rem; } &-2{ margin-top: 2.0rem; } &-3{ margin-top: 3.0rem; } &-4{ margin-top: 4.0rem; } &-5{ margin-top: 5.0rem; } &-6{ margin-top: 6.0rem; } } }
}

.mr{
    @media (min-width: var.$xsm) { &-0{ margin-right: 0px; } &-1{ margin-right: 1.0rem; } &-2{ margin-right: 2.0rem; } &-3{ margin-right: 3.0rem; } &-4{ margin-right: 4.0rem; } &-5{ margin-right: 5.0rem; } &-6{ margin-right: 6.0rem; } }
    @media (min-width: var.$sm) { &-sm { &-0{ margin-right: 0px; } &-1{ margin-right: 1.0rem; } &-2{ margin-right: 2.0rem; } &-3{ margin-right: 3.0rem; } &-4{ margin-right: 4.0rem; } &-5{ margin-right: 5.0rem; } &-6{ margin-right: 6.0rem; } } }
    @media (min-width: var.$md) { &-md { &-0{ margin-right: 0px; } &-1{ margin-right: 1.0rem; } &-2{ margin-right: 2.0rem; } &-3{ margin-right: 3.0rem; } &-4{ margin-right: 4.0rem; } &-5{ margin-right: 5.0rem; } &-6{ margin-right: 6.0rem; } } }
    @media (min-width: var.$lg) { &-lg { &-0{ margin-right: 0px; } &-1{ margin-right: 1.0rem; } &-2{ margin-right: 2.0rem; } &-3{ margin-right: 3.0rem; } &-4{ margin-right: 4.0rem; } &-5{ margin-right: 5.0rem; } &-6{ margin-right: 6.0rem; } } }
    @media (min-width: var.$xl) { &-xl { &-0{ margin-right: 0px; } &-1{ margin-right: 1.0rem; } &-2{ margin-right: 2.0rem; } &-3{ margin-right: 3.0rem; } &-4{ margin-right: 4.0rem; } &-5{ margin-right: 5.0rem; } &-6{ margin-right: 6.0rem; } } }
}
  
.mb{
    @media (min-width: var.$xsm) { &-0{ margin-bottom: 0px; } &-0-5{ margin-bottom: 0.5rem; } &-1{ margin-bottom: 1.0rem; } &-2{ margin-bottom: 2.0rem; } &-3{ margin-bottom: 3.0rem; } &-4{ margin-bottom: 4.0rem; } &-5{ margin-bottom: 5.0rem; } &-6{ margin-bottom: 6.0rem; } }
    @media (min-width: var.$sm) { &-sm { &-0{ margin-bottom: 0px; } &-0-5{ margin-bottom: 0.5rem; } &-1{ margin-bottom: 1.0rem; } &-2{ margin-bottom: 2.0rem; } &-3{ margin-bottom: 3.0rem; } &-4{ margin-bottom: 4.0rem; } &-5{ margin-bottom: 5.0rem; } &-6{ margin-bottom: 6.0rem; } } }
    @media (min-width: var.$md) { &-md { &-0{ margin-bottom: 0px; } &-0-5{ margin-bottom: 0.5rem; } &-1{ margin-bottom: 1.0rem; } &-2{ margin-bottom: 2.0rem; } &-3{ margin-bottom: 3.0rem; } &-4{ margin-bottom: 4.0rem; } &-5{ margin-bottom: 5.0rem; } &-6{ margin-bottom: 6.0rem; } } }
    @media (min-width: var.$lg) { &-lg { &-0{ margin-bottom: 0px; } &-0-5{ margin-bottom: 0.5rem; } &-1{ margin-bottom: 1.0rem; } &-2{ margin-bottom: 2.0rem; } &-3{ margin-bottom: 3.0rem; } &-4{ margin-bottom: 4.0rem; } &-5{ margin-bottom: 5.0rem; } &-6{ margin-bottom: 6.0rem; } } }
    @media (min-width: var.$xl) { &-xl { &-0{ margin-bottom: 0px; } &-0-5{ margin-bottom: 0.5rem; } &-1{ margin-bottom: 1.0rem; } &-2{ margin-bottom: 2.0rem; } &-3{ margin-bottom: 3.0rem; } &-4{ margin-bottom: 4.0rem; } &-5{ margin-bottom: 5.0rem; } &-6{ margin-bottom: 6.0rem; } } }
}
  
.ml{
    @media (min-width: var.$xsm) { &-0{ margin-left: 0px; } &-1{ margin-left: 1.0rem; } &-2{ margin-left: 2.0rem; } &-3{ margin-left: 3.0rem; } &-4{ margin-left: 4.0rem; } &-5{ margin-left: 5.0rem; } &-6{ margin-left: 6.0rem; } }
    @media (min-width: var.$sm) { &-sm { &-0{ margin-left: 0px; } &-1{ margin-left: 1.0rem; } &-2{ margin-left: 2.0rem; } &-3{ margin-left: 3.0rem; } &-4{ margin-left: 4.0rem; } &-5{ margin-left: 5.0rem; } &-6{ margin-left: 6.0rem; } } }
    @media (min-width: var.$md) { &-md { &-0{ margin-left: 0px; } &-1{ margin-left: 1.0rem; } &-2{ margin-left: 2.0rem; } &-3{ margin-left: 3.0rem; } &-4{ margin-left: 4.0rem; } &-5{ margin-left: 5.0rem; } &-6{ margin-left: 6.0rem; } } }
    @media (min-width: var.$lg) { &-lg { &-0{ margin-left: 0px; } &-1{ margin-left: 1.0rem; } &-2{ margin-left: 2.0rem; } &-3{ margin-left: 3.0rem; } &-4{ margin-left: 4.0rem; } &-5{ margin-left: 5.0rem; } &-6{ margin-left: 6.0rem; } } }
    @media (min-width: var.$xl) { &-xl { &-0{ margin-left: 0px; } &-1{ margin-left: 1.0rem; } &-2{ margin-left: 2.0rem; } &-3{ margin-left: 3.0rem; } &-4{ margin-left: 4.0rem; } &-5{ margin-left: 5.0rem; } &-6{ margin-left: 6.0rem; } } }
}

.px{
    @media (min-width: var.$xsm) {  &-0{ padding-inline: 0px; }  &-1{ padding-inline: 1.0rem; }  &-2{ padding-inline: 2.0rem; }  &-3{ padding-inline: 3.0rem; }  &-4{ padding-inline: 4.0rem; }  &-5{ padding-inline: 5.0rem; }  &-6{ padding-inline: 6.0rem; } } 
    @media (min-width: var.$sm) { &-sm{ &-0{ padding-inline: 0px; }  &-1{ padding-inline: 1.0rem; }  &-2{ padding-inline: 2.0rem; }  &-3{ padding-inline: 3.0rem; }  &-4{ padding-inline: 4.0rem; }  &-5{ padding-inline: 5.0rem; }  &-6{ padding-inline: 6.0rem; } } }
    @media (min-width: var.$md) { &-md{ &-0{ padding-inline: 0px; }  &-1{ padding-inline: 1.0rem; }  &-2{ padding-inline: 2.0rem; }  &-3{ padding-inline: 3.0rem; }  &-4{ padding-inline: 4.0rem; }  &-5{ padding-inline: 5.0rem; }  &-6{ padding-inline: 6.0rem; } } }
    @media (min-width: var.$lg) { &-lg{ &-0{ padding-inline: 0px; }  &-1{ padding-inline: 1.0rem; }  &-2{ padding-inline: 2.0rem; }  &-3{ padding-inline: 3.0rem; }  &-4{ padding-inline: 4.0rem; }  &-5{ padding-inline: 5.0rem; }  &-6{ padding-inline: 6.0rem; } } }
    @media (min-width: var.$xl) { &-xl{ &-0{ padding-inline: 0px; }  &-1{ padding-inline: 1.0rem; }  &-2{ padding-inline: 2.0rem; }  &-3{ padding-inline: 3.0rem; }  &-4{ padding-inline: 4.0rem; }  &-5{ padding-inline: 5.0rem; }  &-6{ padding-inline: 6.0rem; } } }
}


.pt{
    @media (min-width: var.$xsm) { &-0{ padding-top: 0px; } &-1{ padding-top: 1.0rem; } &-2{ padding-top: 2.0rem; } &-3{ padding-top: 3.0rem; } &-4{ padding-top: 4.0rem; } &-5{ padding-top: 5.0rem; } &-6{ padding-top: 6.0rem; } }
    @media (min-width: var.$sm) { &-sm { &-0{ padding-top: 0px; } &-1{ padding-top: 1.0rem; } &-2{ padding-top: 2.0rem; } &-3{ padding-top: 3.0rem; } &-4{ padding-top: 4.0rem; } &-5{ padding-top: 5.0rem; } &-6{ padding-top: 6.0rem; } } }
    @media (min-width: var.$md) { &-md { &-0{ padding-top: 0px; } &-1{ padding-top: 1.0rem; } &-2{ padding-top: 2.0rem; } &-3{ padding-top: 3.0rem; } &-4{ padding-top: 4.0rem; } &-5{ padding-top: 5.0rem; } &-6{ padding-top: 6.0rem; } } }
    @media (min-width: var.$lg) { &-lg { &-0{ padding-top: 0px; } &-1{ padding-top: 1.0rem; } &-2{ padding-top: 2.0rem; } &-3{ padding-top: 3.0rem; } &-4{ padding-top: 4.0rem; } &-5{ padding-top: 5.0rem; } &-6{ padding-top: 6.0rem; } } }
    @media (min-width: var.$xl) { &-xl { &-0{ padding-top: 0px; } &-1{ padding-top: 1.0rem; } &-2{ padding-top: 2.0rem; } &-3{ padding-top: 3.0rem; } &-4{ padding-top: 4.0rem; } &-5{ padding-top: 5.0rem; } &-6{ padding-top: 6.0rem; } } }
}

.pr{
    @media (min-width: var.$xsm) { &-0{ padding-right: 0px; } &-1{ padding-right: 1.0rem; } &-2{ padding-right: 2.0rem; } &-3{ padding-right: 3.0rem; } &-4{ padding-right: 4.0rem; } &-5{ padding-right: 5.0rem; } &-6{ padding-right: 6.0rem; } }
    @media (min-width: var.$sm) { &-sm { &-0{ padding-right: 0px; } &-1{ padding-right: 1.0rem; } &-2{ padding-right: 2.0rem; } &-3{ padding-right: 3.0rem; } &-4{ padding-right: 4.0rem; } &-5{ padding-right: 5.0rem; } &-6{ padding-right: 6.0rem; } } }
    @media (min-width: var.$md) { &-md { &-0{ padding-right: 0px; } &-1{ padding-right: 1.0rem; } &-2{ padding-right: 2.0rem; } &-3{ padding-right: 3.0rem; } &-4{ padding-right: 4.0rem; } &-5{ padding-right: 5.0rem; } &-6{ padding-right: 6.0rem; } } }
    @media (min-width: var.$lg) { &-lg { &-0{ padding-right: 0px; } &-1{ padding-right: 1.0rem; } &-2{ padding-right: 2.0rem; } &-3{ padding-right: 3.0rem; } &-4{ padding-right: 4.0rem; } &-5{ padding-right: 5.0rem; } &-6{ padding-right: 6.0rem; } } }
    @media (min-width: var.$xl) { &-xl { &-0{ padding-right: 0px; } &-1{ padding-right: 1.0rem; } &-2{ padding-right: 2.0rem; } &-3{ padding-right: 3.0rem; } &-4{ padding-right: 4.0rem; } &-5{ padding-right: 5.0rem; } &-6{ padding-right: 6.0rem; } } }
}

.pb{
    @media (min-width: var.$xsm) { &-0{ padding-bottom: 0px; } &-1{ padding-bottom: 1.0rem; } &-2{ padding-bottom: 2.0rem; } &-3{ padding-bottom: 3.0rem; } &-4{ padding-bottom: 4.0rem; } &-5{ padding-bottom: 5.0rem; } &-6{ padding-bottom: 6.0rem; } }
    @media (min-width: var.$sm) { &-sm { &-0{ padding-bottom: 0px; } &-1{ padding-bottom: 1.0rem; } &-2{ padding-bottom: 2.0rem; } &-3{ padding-bottom: 3.0rem; } &-4{ padding-bottom: 4.0rem; } &-5{ padding-bottom: 5.0rem; } &-6{ padding-bottom: 6.0rem; } } }
    @media (min-width: var.$md) { &-md { &-0{ padding-bottom: 0px; } &-1{ padding-bottom: 1.0rem; } &-2{ padding-bottom: 2.0rem; } &-3{ padding-bottom: 3.0rem; } &-4{ padding-bottom: 4.0rem; } &-5{ padding-bottom: 5.0rem; } &-6{ padding-bottom: 6.0rem; } } }
    @media (min-width: var.$lg) { &-lg { &-0{ padding-bottom: 0px; } &-1{ padding-bottom: 1.0rem; } &-2{ padding-bottom: 2.0rem; } &-3{ padding-bottom: 3.0rem; } &-4{ padding-bottom: 4.0rem; } &-5{ padding-bottom: 5.0rem; } &-6{ padding-bottom: 6.0rem; } } }
    @media (min-width: var.$xl) { &-xl { &-0{ padding-bottom: 0px; } &-1{ padding-bottom: 1.0rem; } &-2{ padding-bottom: 2.0rem; } &-3{ padding-bottom: 3.0rem; } &-4{ padding-bottom: 4.0rem; } &-5{ padding-bottom: 5.0rem; } &-6{ padding-bottom: 6.0rem; } } }
}
  
.pl{
    @media (min-width: var.$xsm) { &-0{ padding-left: 0px; } &-1{ padding-left: 1.0rem; } &-2{ padding-left: 2.0rem; } &-3{ padding-left: 3.0rem; } &-4{ padding-left: 4.0rem; } &-5{ padding-left: 5.0rem; } &-6{ padding-left: 6.0rem; } }
    @media (min-width: var.$sm) { &-sm { &-0{ padding-left: 0px; } &-1{ padding-left: 1.0rem; } &-2{ padding-left: 2.0rem; } &-3{ padding-left: 3.0rem; } &-4{ padding-left: 4.0rem; } &-5{ padding-left: 5.0rem; } &-6{ padding-left: 6.0rem; } } }
    @media (min-width: var.$md) { &-md { &-0{ padding-left: 0px; } &-1{ padding-left: 1.0rem; } &-2{ padding-left: 2.0rem; } &-3{ padding-left: 3.0rem; } &-4{ padding-left: 4.0rem; } &-5{ padding-left: 5.0rem; } &-6{ padding-left: 6.0rem; } } }
    @media (min-width: var.$lg) { &-lg { &-0{ padding-left: 0px; } &-1{ padding-left: 1.0rem; } &-2{ padding-left: 2.0rem; } &-3{ padding-left: 3.0rem; } &-4{ padding-left: 4.0rem; } &-5{ padding-left: 5.0rem; } &-6{ padding-left: 6.0rem; } } }
    @media (min-width: var.$xl) { &-xl { &-0{ padding-left: 0px; } &-1{ padding-left: 1.0rem; } &-2{ padding-left: 2.0rem; } &-3{ padding-left: 3.0rem; } &-4{ padding-left: 4.0rem; } &-5{ padding-left: 5.0rem; } &-6{ padding-left: 6.0rem; } } }
}

@media (min-width: var.$xsm) {}
@media (min-width: var.$sm) {}
@media (min-width: var.$md) {}
@media (min-width: var.$lg) {}
@media (min-width: var.$xl) {}
@media (min-width: var.$xxl) {}